# Code for Chapter 2 of Deep Learning with Structured Data
This notebook contains the code snippets that accompany Chapter 2.

Note that this code assumes the following files are in a directory called "data" that is a sibling of the directory containing this notebook file:
- iriscaps.csv
- ttc-streetcar-delay-data-2014.xlsx

In [42]:
# get the directory for that this notebook is in
import os
rawpath = os.getcwd()
print("raw path is",rawpath)

raw path is C:\personal\manning\deep_learning_for_structured_data\notebooks

In [43]:
# data is in a directory called "data" that is a sibling to the directory containing the notebook
# this code assumes you have copied to this directory all the XLS files from the source dataset: https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#e8f359f0-2f47-3058-bf64-6ec488de52da
path = os.path.abspath(os.path.join(rawpath, '..', 'data'))
print("path is", path)

path is C:\personal\manning\deep_learning_for_structured_data\data

In [44]:
# import pandas library
import pandas as pd
# raw github URL for Iris dataset
url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv"
# read the contents of the URL into a Pandas dataframe
iris_dataframe=pd.read_csv(url)
# display the first few rows from the new dataframe
iris_dataframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [45]:
iris_dataframe.shape[0]

150

In [46]:
setosa_frame = iris_dataframe[iris_dataframe["species"] == 'setosa']
setosa_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
iris_dataframe[iris_dataframe["species"] == 'setosa'].shape[0]

50

In [48]:
# import pandas library
import pandas as pd
# define the base path and the file name - update the path value to the path for your data files
file = "iriscaps.csv"
# read the contents of the file into a Pandas dataframe
iris_dataframe=pd.read_csv(os.path.join(path,file))
# display the first few rows from the new dataframe
iris_dataframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [49]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\ryanm\appdata\local\programs\python\python37\lib\site-packages (1.2.0)

You are using pip version 19.0.3, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [50]:
# import pandas library
import pandas as pd
# define the base path and the file name
file = "ttc-streetcar-delay-data-2014.xlsx"
# load meta data about the Excel file
xlsf = pd.ExcelFile(os.path.join(path,file))
# load the first sheet of the Excel file into a dataframe
df = pd.read_excel(os.path.join(path,file),sheet_name=xlsf.sheet_names[0])
# iterate through the remaining sheets appending their contents onto the dataframe
for sheet_name in xlsf.sheet_names[1:]:
    print("sheet_name",sheet_name)
    # load the current sheet into a dataframe
    data = pd.read_excel(os.path.join(path,file),sheet_name=sheet_name)
    # append this dataframe onto the aggregated dataframe
    df = df.append(data)

sheet_name Feb 2014
sheet_name Mar 2014
sheet_name Apr 2014
sheet_name May 2014
sheet_name Jun 2014
sheet_name July 2014
sheet_name Aug 2014
sheet_name Sept 2014
sheet_name Oct 2014
sheet_name Nov 2014
sheet_name Dec 2014

In [51]:
df.shape

(11027, 10)

In [52]:
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2014-01-02,505,06:31:00,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,8.0,E/B,4018.0
1,2014-01-02,504,12:43:00,Thursday,King and Shaw,Utilized Off Route,20.0,22.0,E/B,4128.0
2,2014-01-02,501,14:01:00,Thursday,Kingston road and Bingham,Held By,13.0,19.0,W/B,4016.0
3,2014-01-02,504,14:22:00,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,11.0,W/B,4175.0
4,2014-01-02,504,16:42:00,Thursday,King and Bathurst,Utilized Off Route,3.0,6.0,E/B,4080.0

In [53]:
df.tail()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
869,2014-12-31,509,22:30:00,Wednesday,Union Loop to Exhibition Loop,General Delay,10.0,20.0,B/W,NaN
870,2014-12-31,504,22:54:00,Wednesday,King and Dunn,Emergency Services,11.0,16.0,E/B,4128.0
871,2014-12-31,505,23:00:00,Wednesday,Dundas West Station to Broadview Station,General Delay,10.0,12.0,B/W,NaN
872,2014-12-31,511,23:01:00,Wednesday,CNE,Mechanical,8.0,16.0,N/B,4160.0
873,2014-12-31,504,23:18:00,Wednesday,King and Bathurst,Mechanical,7.0,14.0,E/B,4128.0

In [54]:
# save a dataframe to your filesystem as a pickle file
file = "iris_dataframe.pkl"
iris_dataframe.to_pickle(os.path.join(path,file))

In [55]:
# load a saved pickle file into a dataframe
file = "iris_dataframe.pkl"
iris_dataframe_from_pickle = pd.read_pickle(os.path.join(path,file))
iris_dataframe_from_pickle.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa